[Unit]
Description=Arpinging IP from host networks
After=network.target

[Service]
Type=simple 
PIDFile=/home/rav/Programing/Go/ispcp/pinger.pid
WorkingDirectory=/home/rav/Programing/Go/ispcp/
User=rav
Group=rav
ExecStart=/home/rav/Programing/Go/ispcp/pinger

#ExecStop=/home/rav/Programing/Go/ispcp/pinger
#ExecReload=/home/rav/Programing/Go/ispcp/pinger

TimeoutSec=10
Restart=always

[Install]
WantedBy=multi-user.target
