# systemd
[Unit]
Description=Arpinging IP from host networks
After=network.target

[Service]
Type=simple 
PIDFile=/usr/local/ispcs/arp-alive/pinger.pid
WorkingDirectory=/usr/local/ispcs/arp-alive/
User=rav
Group=rav
ExecStart=/usr/local/ispcs/arp-alive/pinger

#ExecStop=/usr/local/ispcs/arp-alive/pinger
#ExecReload=/usr/local/ispcs/arp-alive/pinger

TimeoutSec=10
Restart=always

[Install]
WantedBy=multi-user.target
